.dialog {
  padding: 0.5em;
}

.dialog:hover {
  background-color: rgba(74, 76, 78, 0.096);
  color: white;
}

.dialog .dialogBorder {
  padding: 5px;
  /* border-block: 2px rgba(236, 229, 229, 0.808) solid; */
}

.dialog.active {
  background-color: rgb(114, 45, 45);
  text-decoration: none;
}
