.userWrapper {
  display: grid;
  grid-template-areas: 'l r';
  grid-template-columns: 100px 6fr;
  padding: 0.1em;
}

.leftSide {
  grid-area: l;
  display: grid;
  grid-template-rows: auto 25px;
  grid-template-areas: 
  'empty'
   'followed';
}

.leftSide .followed {
  grid-area: followed;
  justify-content: center;
}

.rightSide {
  grid-area: r;
  border: 3px groove;
  border-radius: 8px;
  height: 70px;
  padding: 10px;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 2fr 2fr ;
  grid-template-rows: 2fr 2fr 2fr;
  grid-template-areas:
    'fullName empty location'
    'status empty location';
}

.rightSide .fullName {
  grid-area: fullName;
}

.rightSide .status {
  grid-area: status;
}

.rightSide .location {
  grid-area: location;
}
